body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #333;
    -webkit-text-size-adjust: 100%;
}

.main_wrapper{
    text-align: center;
    margin: 100px auto;
}

.main_title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 15px;
    color: #fff;
}

.main_text{
    font-size: 1.5rem;
    line-height: 100%;
    margin-bottom: 30px;
    color: #fff;
}

.main_img{
    max-width: 70px;
}

.login_form_background{
    background-color: #F5F5F5;
    padding-top: 50px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 80vh;

}

.login_form_wrapper{
    width: 335px;
    margin: 0 auto 50px auto;
}

.login_form_text_wrapper{
    display: flex;
    flex-direction: column;
    gap: 25px 0px;
    margin-bottom: 35px;
    justify-content: center;
}

.login_form_text{
    border: #888 1px solid;
    border-radius: 5px;
    font-size: 1.2rem;
    height: 50px;
    width: 335px;
    padding-left: 10px;
    display: block;
}

.login_form_submit{
    border-radius: 5px;
    background-color: #333;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
    height: 50px;
    width: 335px;
    display: block;
}

.button_text{
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    text-align: center;
}